/* :root {
  --card-color: rgb(40, 41, 51)
} */
#cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between;
  justify-content: space-evenly; */
}

#cards:hover > .card::after {
  opacity: 1;
}
