.profile {
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:  rgb(45, 46, 56);
    margin-bottom: 20px;
}
.fill img {
    /* flex-shrink: 0;
    min-width: 100%;
    min-height: 100% */
    /* display: flex;
    justify-content: center; */
    /* align-items: right; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(45, 46, 56);
    margin-top: 20px;
    border-radius: 100%;
    width: 6rem;
    margin-bottom: 10px;
}

.fill h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;

    font-size: 20px;
    color:rgb(255, 255, 255);
    font-weight: 500;
    
    /* font-family: 'Comic Sans', sans-serif;
    color: rgba(255, 255, 255, 1); */ 
}

.fill h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}

.fill {
    padding-bottom: 20px;
    padding-top: 10px;
}
