.box {
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    height: 700px;
    width: 680px;

    max-height: 120px;
    max-width: 120px;
    transition: max-height 2s ease-out;
    transition: max-width 2s ease-out;

    transition-duration: 200ms;
    transition-delay: 1ms;
    transition: position 1s, left 1s, top 1s, width 1s, height 1s, max-width 1s, max-height 1s;
    transition-timing-function: ease;


    background: rgb(40, 41, 51);
    position: relative;
    /* top: 50%;
    left: 50% ;
    transform: translate(-50%, -50%); */
    z-index: 100;
    padding: 14px 28px;
    border-radius: 3px;
    line-height: 1.4;
    border-radius: 0.3125rem;
    
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0); 
  }

.motionContainer {
    z-index: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxComplete {
    /* overflow: hidden; */
    /* width: auto; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 80vh; */
    max-width: 1000px;
    max-height: 1000px;
    overflow-y: auto; 
    position: relative;

    /* max-height: 800px;
    max-width: 800px; */
    /* transition: max-height 2s ease-in; */
    /* transition: max-width 2s ease-in; */


    /* position: absolute; */
    line-height: 1.4;
    background-color: rgb(40, 41, 51);
    /* padding: 14px 28px; */
 
    /* max-width: 400px;
    min-width: 400px; */
    z-index: 50;
    /* border-radius: 0.3125rem; */
    /* overflow:hidden; */
    /* display: flex; */
    /* flex-direction: column; */
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0); 

}

.motionContainer h1, h2 {
    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 255, 255);
}

.motionContainer p {
    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 255, 255);
}

.closeModalButton {
    position:absolute;
    top:0;
    right:0;
    margin: 10px;
    z-index: 150;

}

.motionWrapper {
    position: relative;
    height: 100%;
}

.scaryHTML {
    /* padding-left: 50px;
    padding-right: 50px; */
}
