.socials { 
    position: absolute;
    bottom: 0px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50px; 
    background-color:  rgb(51, 52, 64);
    border-radius: 0.3125rem;
}